.bg-container {
  background-color: #f5d0fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background-color: #ffffff;
  width: 40vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputel{
  color: black;
}